* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 5px;
}
  
#container {
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-rows: 1fr 572px 1fr 1fr;
    font-family: 'Manrope', sans-serif;

    header {
        background-image: url(/assets/home/desktop/image-hero.jpg);
        // width: 1440px;
        height: 720px;

        #header-container {
            padding: 35px 165px;

            #nav-container {
                nav {
                    color: #fff;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    #audiophile {
                        font-size: 25px;
                        font-weight: bold;
                    }
                
                    #nav-ul {
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
    
                        li {
                            padding: 0 17px;
                            font-size: 13px;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }

                hr {
                    height: 0.2px;
                    border-width: 0;
                    color:#fff;
                    background-color:#fff;
                    margin-top: 36px;
                }
            }

            #header-section {
                margin-top: 128px;
                color: #fff;
                width: 398px;
                height: 346px;
                left: 165px;
                top: 225px;

                #header-new-product {
                    height: 19px;
                    left: 0%;
                    right: 50%;
                    top: calc(50% - 19px/2 - 163.5px);
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 10px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }

                #header-h1 {
                    height: 116px;
                    left: 0%;
                    right: 0.5%;
                    top: calc(50% - 116px/2 - 72px);
                    font-style: normal;
                    font-weight: bold;
                    font-size: 50px;
                    line-height: 58px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

                #header-text {
                    left: 0%;
                    right: 12.31%;
                    top: 52.89%;
                    bottom: 25.43%;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 25px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.75;
                }

                #header-button {
                    background: #D87D4A;
                    color: #FFFFFF;
                    border: none;
                    margin-top: 55px;
                    padding: 15px 31.5px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 18px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
    }

    section#section-of-products {
        padding-left: 165px;
        padding-right: 165px;
        display: flex;
        justify-content: space-between;

        .section-products {
            position: relative;
            width: 280px;
            height: 140px;
            margin-top: 200px;
            margin-bottom: 168px;
            background: #F1F1F1;
            border-radius: 8px;
            padding: 60px 80px 20px 80px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            .img-section {
                position: absolute;
                left: 0x;
                top: -50px;
                width: 150px;
            }

            .section-name {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .section-shop {
                font-size: 13px;
                font-weight: bold;
                color: lighten($color: #000000, $amount: 50%);
                text-transform: uppercase;

                &::after {
                    content: url(/assets/shared/desktop/icon-arrow-right.svg);
                    color: #D87D4A;
                    padding-left: 5px;
                }
            }

            &:hover {
                cursor: pointer;

                .section-shop{
                    color: #D87D4A;
                }
            }
        }
    }

    main {
        #main-container {
            display: flex;
            flex-direction: column;
            gap: 18px;

            #main-container1 {
                margin: auto;
                width: 1110px;
                height: 560px;
                background: #D87D4A;
                color: #fff;
                border-radius: 5px;

                display: flex;
                justify-content: space-around;
                align-items: center;
                overflow: hidden;

                #main-img-div {
                    margin-bottom: -90px;
                    margin-left: 117.49px;

                    img {
                        width: 410.23px;
                        height: 493px; 
                    }
                }

                #main-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 349px;
                    height:303px;
                    margin-right: 56px;

                    h2 {
                        font-size: 56px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: medium;
                    }

                    button {
                        background: #000;
                        color: #fff;
                        width: 160px;
                        height: 48px;
                        border: none;
                        font-size: 13px;

                        &:hover {
                            cursor: pointer;
                            background: lighten($color: #000000, $amount: 30%);
                        }
                    }
                }
            }

            #main-container2 {
                background: url(/assets/home/desktop/image-speaker-zx7.jpg);
                margin: auto;
                width: 1110px;
                height: 320px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 5px;

                #main2-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;
                    margin-left: 126.12px;

                    h2 {
                        font-size: 28px;
                        font-weight: bold;
                    }

                    button {
                        font-size: 13px;
                        font-weight: bold;
                        width: 160px;
                        height: 48px;
                        cursor: pointer;

                        &:hover {
                            background: #000;
                            color: #fff;
                            border: none;
                        }
                    }
                }
            }

            #main-container3 {
                margin: auto;
                width: 1110px;
                height: 320px;
                display: flex;
                justify-content: space-between;

                #main3-div2 {
                    width: 540px;
                    background: #f1f1f1;
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        font-size: 28px;
                        font-weight: bold;
                    }

                    button {
                        width: 160px;
                        height: 48px;
                        font-size: 13px;

                        &:hover {
                            background: #000;
                            color: #fff;
                            cursor: pointer;
                            border: none;
                        }
                    }
                }
            }

            #main-container4 {
                margin: auto;
                width: 1110px;
                height: 588px;
                display: flex;
                justify-content: space-between;

                #main4-div1 {
                    display: flex;
                    gap: 32px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    h2 {
                        font-size: 40px;
                        font-weight: bold;
                        line-height: 44px;
                        letter-spacing: 1.43 px;
                        text-transform: uppercase;

                        span {
                            color: #D87D4A
                        }
                    }

                    p {
                        font-size: 15px;
                        line-height: 25px;
                        font-weight: medium;
                        color: lighten($color: #000000, $amount: 50%)
                    }
                }
            }
        }
    }

    footer {
        padding-top: 75px;
        padding-bottom: 48px;
        background: #101010;
        color: #fff;

        #footer-container {
            display: flex;
            flex-direction: column;
            gap:36px;
            width: 1110px;
            margin: auto;

            #footer-div1 {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: flex-start;
        
                    li {
                        padding-right: 13px;
                        height: 25px;
                        letter-spacing: 2px;
                        text-transform: uppercase;

                        &:hover {
                            cursor: pointer;
                            color: #D87D4A;
                        }
                    }
                }
            }

            #footer-div2 {
                #footer-imgs {
                    display: flex;
                    gap: 16px;

                    img:hover {
                        cursor: pointer;
                        background-color: #D87D4A;
                    }
                }

                p {
                    width: 540px;
                    height: 100px;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 25px;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                }
            }
        }
        

        #footer-div2 {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}


//   btn-primary
// btn-outline-primary

// btn-secondary
// btn-outline-secondary

// btn-text
// --with-arrow